.site-banner {
  width: 100%;
  height: 340px;  /* ajuste ici */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.site-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
